#!/bin/bash

set -euo pipefail

SCRIPT_DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )"
jar="${SCRIPT_DIR}/../../java/SOBDetector_v1.0.4.jar"

bam_path=$1
vcf_path=$2

outdir=$3
mkdir -p $outdir

vcf_name=$(basename $vcf_path)
sample_name=${vcf_name%%.*}

bam=$(echo -n ${bam_path})
if [[ ! -f $bam ]]; then
	echo "${bam_path} not found" >&2
	exit 2
fi

vcf=$(echo -n ${vcf_path})
if [[ ! -f $vcf ]]; then
	echo "${vcf_path} not found." >&2
	exit 2
fi

echo "inputs:" >&2
echo "  $bam" >&2
echo "  $vcf" >&2

## Convert VCF to tabular format: ( CHR | POS | REF | ALT ) . As SOBDetector did not work with the VCFs
snv=${outdir}/${sample_name}.input.snv

printf 'chrom\tpos\tref\talt\n' > $snv
bcftools norm -m - $vcf | bcftools view | grep -v "#" | cut -f 1,2,4,5 >> $snv

# SOBDetector inserts an extra TAB character after first 4 columns
java -jar $jar --input-type Table --input-variants $snv --input-bam $bam --output-variants $outdir/${sample_name}.sobdetector.snv &&
sed -i 's/\t\t/\t/g' $outdir/${sample_name}.sobdetector.snv

rm $snv

echo "Finished SOBDetector SNVF Filtering"
echo -e "\tOutput saved to: $outdir/${sample_name}.vafsnvf.snv"